/* font-family: 'Staatliches', cursive;
font-family: 'Trispace', sans-serif; 
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trispace', sans-serif;
    margin: 0;
    background-color: #fff;
    cursor: default;
    scroll-behavior: smooth;
}

/* ------------------------------

            HEADER

----------------------------------*/

header {
    font-family: 'Ubuntu', sans-serif;
    height: 70px;
    width: 100%;
    color: black;
    position: sticky;
    top: 0;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: all .8s;
}

.inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
    top: 0;
    transition: all .8s;
}

.inner-header__row {
    width: 240px;
    height: 70px;   
    transition: all .8s;
}

.p__header:hover {
    color: rgba(151, 151, 151, 0.795);
}

.p__header {
    scroll-behavior: smooth;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: all .5s;
}

.logo {
    font-family: 'Staatliches', cursive;
    text-decoration: none;
    color: black;
}

.logo a {
    text-decoration: none;
    color:black;
    transition: all .5s;
}

.logo a:hover {
    opacity: 50%;
}

.row2 {
    display: flex;
    justify-content: space-between;
    transition: all .8s;
}

.menu {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    transition: all .8s;
}

.fas {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    transition: all .8s;
}

/*---------------------------------------

                NAV

-----------------------------------------*/

.menu__text {
    display: flex;
    justify-content: flex-end;
    transition: all .8s;
}

.nav {
    position: relative;
    transition: all .8s;
}

.nav a {
    text-decoration: none;
    color: white;
    transition: all .8s;
}

.nav:hover .inner-nav{
    display: block;
    transition: all .8s;
    opacity: 90%;
}

.fas:hover .inner-nav{
    display: block;
    transition: all .8s;
    opacity: 90%;
}

.nav li{
    position: relative;
    list-style: none;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    transition: all .8s;
    opacity: 0%;
}

.inner-nav {
    display: none;
    line-height: 30px;
    position: absolute;
    transition: all .8s;
    left: 20px;
    background-color: black;
    opacity: 0%;
}

.inner-nav:hover {
    transition: all .8s;
    background-color: rgba(37, 33, 33, 0.555);
    color: rgba(255, 255, 255, 0.637);
    transition: .8s;
}

/*-------------------------------------

                MAIN__1

---------------------------------------*/

.main__1 {
    padding-top: 100px;
    width: 100%;
    height: 92vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.text-main {
    margin-right: auto;    
    margin-left: auto;
    font-size: 40px;
    padding-top: calc(50vh - 20%);
    width: 250px;
    font-family: 'Playfair Display', bold;
}

.p-main {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.inner-main__bottom {
    bottom: 0;
    font-size: 20px;
    position: absolute;
}

.inner-main__bottom a {
    text-decoration: none;
    color: white;
    transition: all .5s;
}

.inner-main__bottom a:hover {
    color: black;
}

/*------------------------------------------

                MAIN__2
                
--------------------------------------------*/


/* font-family: 'Staatliches', cursive;
font-family: 'Trispace', sans-serif; 
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;*/



.main__2 {
    width: 100%;
    height: 500px;
    margin-bottom: 120px;
}

.inner-main__2 {
    font-family: 'Playfair Display', bold;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 120px;
    max-width: 1000px;
}

.h-main__2 {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.about-me {
    width: 500px;
    margin-left: 30px;
}
/*------------------------------------------

                MAIN__3
                
--------------------------------------------*/

.main__3 {
    width: 100%;
    height: 500px;
    background-image: url("../images/2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

.about-photo {
    font-family: 'Playfair Display', bold;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    width: fit-content;
    font-size: 36px;
    padding-top: 90px;
}

.out-row {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-bottom: 100px;
}

.row {
    width: 360px;
    height: 360px;
    border: 1px solid black;
    background-image: url("../images/1.jpg");
    background-size: cover;
    transition: .8s;
}

.desc {
    transition: .8s;
    text-align: center;
    height: 180px;
    padding-top: 50%;
    margin-top: 0;
    width: 100%;
    background-color: black;
    opacity: 0;
    color: white;
}

.desc:hover {
    opacity: 80%;
    transition: .8s;
}

.text__desc {
    margin-top: 0;
}

.button-main3 {
    border: 2px solid orange;
    background-color: #fff;
    border-radius: 0;
    padding: 10px;
    width: 150px;
    height: 50px;
    font-family: 'Ubuntu', sans-serif;
}

.button-main3:hover {
    background-color: #cfaea675;
    border: 2px solid black;
    transition: .5s;
}

/*------------------------------------------

                MAIN__4
                
--------------------------------------------*/

.main__4 {
    width: 100%;
    height: 800px;
}

.slider {
    position: relative;
    width: 100%;
    height: 530px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.navigation {
    position: absolute;
    bottom: 0;
    left: calc(50% - 126px);
    display: flex;
}

.bar {
    position: relative;
    height: 8px;
    width: 30px;
    margin: 6px;
    opacity: .5;
    background-color: black;
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
}

.bar:hover {
    background-color: rgb(104, 95, 95);
    transition: .5s;
    transform: scale(1.5);
}

.slide {
    width: 5%;
    height: 250px;
    background-size: cover;
    margin-right: 5px;
    margin-left: 5px;
    background-position: center;
    transition: all .8s;
    margin-bottom: 10px;
}

.slide2 {
    width: 5%;
    height: 250px;
    background-size: cover;
    clear: both;
    margin-right: 5px;
    margin-left: 5px;
    background-position: center;
    transition: all .8s;
    opacity: 60%;
    margin-bottom: 20px;
}

.s2{
    float: none;
}

.slide {
    width: 5%;
    height: 250px;
    background-size: cover;
    margin-right: 5px;
    margin-left: 5px;
    background-position: center;
    transition: all .8s;
    opacity: 60%;
}

.slide:hover {
    opacity: 100%;
    transform: scale(1.02);
}

.slide2:hover {
    opacity: 100%;
    transform: scale(1.02);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
}

.slides-inner {
    display: flex;
}

.slide img {
    width: 100%;
    height: 100%;
}

.s1 {
    margin-left: 0;
}

#r1:checked ~ .slides-inner .s1 {
    margin-left: 0;
}

#r2:checked ~ .slides-inner .s1  {
    margin-left: -5%;
}

#r3:checked ~ .slides-inner .s1  {
    margin-left: calc(-10% - 10px);
}

#r4:checked ~ .slides-inner .s1 {
    margin-left: calc(-15% - 20px);
}

#r5:checked ~ .slides-inner .s1  {
    margin-left: 0;
}

#r1:checked ~ .slides-inner .s2 {
    margin-left: calc(-17.5% - 30px);
}

#r2:checked ~ .slides-inner .s2  {
    margin-left: calc(-12.5% - 10px);
}

#r3:checked ~ .slides-inner .s2  {
    margin-left: -7.5%;
}

#r4:checked ~ .slides-inner .s2 {
    margin-left: calc(-2.5% - 10px);
}

#r5:checked ~ .slides-inner .s2  {
    margin-left: calc(-17.5% - 30px);
}


.s2 {
    margin-left: calc(-17.5% - 30px);
}
/* ------------------------- */

.img__c {
    width: 100%;
    height: 100%;
    padding-top: auto;
    object-fit: cover;
}

.a__sl {
    height: 250px;
    opacity: 0%;
}

.a__sl:hover {
    opacity: 100%;
}

.h__main__4 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    margin-bottom: 50px;
}

.more__button {
    width: 190px;
    height: 55px;
    font-size: 14px;
    margin-top: 100px;
    border: 2px solid orange;
    border-radius: 0;
    background-color: #fff;
    transition: .5s;
}

.more__button:hover {
    background-color: rgb(241, 239, 239);
    transition: .8s;
    border: 2px solid black;
    transform: scale(1.05);
}

.form__more {
    margin-left: auto;
    margin-right: auto;
    width: 190px;
}



/* font-family: 'Staatliches', cursive;
font-family: 'Trispace', sans-serif; 
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;*/


/* ------------------------------------

                NAIN__5

--------------------------------------*/

.main__5 {
    width: 100%;
    height: 100vh;
}

.inner-main__5 {
    width: 100%;
    height: 100%;
}

.comments {
    width: 500px;
    height: 250px;
    margin-left: calc(50% - 250px);
    position: relative;
    top: calc(50% - 125px);
    overflow: hidden;
}

input[name="rr"] {
    display: none;
}

.navig {
    display: flex;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px)
}

.left-arrow {
    cursor: pointer;
    width: 20px;
    margin-top: auto;
    margin-bottom: auto;
    transition: all .8s;
    height: 0;
    width: 0;
    border-right: 20px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.left-arrow:hover {
    opacity: 50%;
    transform: scale(1.2);
}

.right-arrow {
    width: 20px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    transition: all .8s;
    height: 0;
    width: 0;
    border-left: 20px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.right-arrow:hover {
    opacity: 50%;
    transform: scale(1.2);
}

.navigation__comments {
    height: 10px;
    width: 20px;
    background-color: rgb(220, 220, 220);
    margin: 10px;
    border-radius: 5px;
    transition: all .8s;
    cursor: pointer;
}

.navigation__comments:hover {
    opacity: 50%;
    transform: scale(1.5);

}

.comment {
    color: white;
    text-align: center;
    width: 20%;
    display: flex;
    justify-content: space-around;
    transition: all .3s;
}

.comment-out {
    width: 500%;
    height: 100%;
    display: flex;
    align-items: center;
}

#rr1:checked ~ .comment-out .ss1 {
    margin-left: 0;
}

#rr2:checked ~ .comment-out .ss1  {
    margin-left: -20%;
}

#rr3:checked ~ .comment-out .ss1  {
    margin-left: -40%;
}

#rr4:checked ~ .comment-out .ss1 {
    margin-left: -60%;
}

#rr5:checked ~ .comment-out .ss1  {
    margin-left: 0;
}

/* ------------------------------------

                FOOTER

--------------------------------------*/

footer {
    background-color: black;
    height: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.row3 {
    width: 600px;
    height: 100%;
    align-items: center;
    clear: both;
    padding-left: 20px;
}

.row3 h2 {
    font-family: 'Playfair Display', serif;
    width: 100%;
}

.row3:last-child {
    text-align: end;
    justify-content: flex-end;
    display: flex;
}

.inner-row__3 {
    letter-spacing: 1px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    text-decoration: none;
}

.inner-row__3 a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.inner-row__3 p {
    cursor: pointer;
}

/* ------------------------------------

                NAIN__6

--------------------------------------*/

.main__6 {
    width: 100%;
    margin-top: 100px;
}

.inner-main-6 {
    height: 400px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(175, 175, 175, 0.829);
    position: absolute;
    top: 50px;
    left: 10%;
}

.row__contacts {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.insta__icon {
    font-size: 50px;
    text-decoration: none;
    color: orange;
    transition: all .8s;
}

.insta__icon:hover {
    color: rgba(194, 194, 194, 0.795);
}

.instagram__cont {
    transition: all .5s;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    color: orange;
    margin-left: 20px;
}

.instagram__cont:hover {
    color: rgba(194, 194, 194, 0.795);
}

.out__main__6 {
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
    position: relative;
}

/* ------------------------------------------- */


@media (max-width: 1100px) {

    






    .main__3 {
        width: 100%;
        height: 800px;
        background-image: url("../images/2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 150px;
    }
    
    .about-photo {
        font-family: 'Playfair Display', bold;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        width: fit-content;
        font-size: 36px;
        padding-top: 90px;
    }
    
    .out-row {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 90px;
        margin-bottom: 100px;
    }
    
    .row {
        width: 360px;
        height: 360px;
        border: 1px solid black;
        background-image: url("../images/1.jpg");
        background-size: cover;
        transition: .8s;
    }
    
    .desc {
        transition: .8s;
        text-align: center;
        height: 180px;
        padding-top: 50%;
        margin-top: 0;
        width: 100%;
        background-color: black;
        opacity: 0;
        color: white;
    }


    .inner-header__row {
        font-size: 30px;
    }
    
    .p__header {
        font-size: 25px;
    }

    .menu {
        font-size: 37px;
    }
    
    .about-me {
        font-size: 23px;
    }

    .row{
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .bar {
        position: relative;
        height: 12px;
        width: 40px;
        margin: 5px;
        opacity: .5;
        background-color: black;
        border-radius: 10px;
        transition: .5s;
        cursor: pointer;
    }

    .row__contacts {
        font-size: 25px;
    }
    
    .inner-comment {
        font-size: 25px;
    }

    .row2 a {
        font-size: 26px;
    }

    .p-main {
        font-size: 25px;
    }

    .text-main {
        font-size: 45px;
    }

    .inner-header__row {
        width: 450px;
    }

}
